<div class="top-menu">
    <img src="icons/banana.png" />
    <span class="popover-header">
        @bananas
    </span>
    <AddBananas BananasAdded="AddBananas"/>
</div>

@code {
    [Parameter]
    public int bananas { get; set; } = 101;

    public void AddBananas(int value)
    {
        bananas += value;
    }
}
